* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.red {
  color: red;
}

ul {
  list-style: none;
}

.tabmenu {
  margin: 0 auto;
  position: relative;
  width: 900px;
  float: left;
  margin: 10px;
}
.tabmenu ul li {
  float: left;
  width: 50%;
  text-align: center;
  background: #f9f9f9;
}
.tabmenu ul li a {
  display: block;
  line-height: 40px;
  height: 40px;
  text-decoration: none;
  color: #000;
}
.tabCon {
  display: none;
  text-align: left;
  padding: 20px;
  position: absolute;
  left: 0;
  top: 40px;
  box-sizing: border-box;
  border: 5px solid #f9f9f9;
  min-width: 900px;
}
.btnCon:target {
  background: #ccc;
}
.btnCon:target .tabCon {
  display: block;
}
td {
  padding-top: 40px;
  padding-right: 10px;
}
